In [6]:
import sklearn as sk
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [7]:
### load in master database ###
data = pd.read_csv('../Data/master.csv')
data.head()

,Unnamed: 0,pop,zip,city,I_mean,I_median,I_stdev,I_rank,state,B_num,H_slope
0,0,1389,95117,San Jose,113319,95226,80222,20959,AZ,0.0,11068.464286
1,1,231,74074,Stillwater,47471,28080,47291,14310,AL,0.0,4792.821429
2,2,150,62626,Carlinville,64871,300000,33013,21924,NY,0.0,9648.535714
3,3,443,97037,Maupin,46804,39132,34510,13403,CA,0.0,22813.785714
4,4,19,67834,Bucklin,66739,51910,53848,8151,VA,0.0,985.857143

In [ ]:
sns.pairplot(data)